body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important ;
}

.menu-principal {
    width: 100%;
    background-image: linear-gradient(#E7BBF2, #D670F0);
    height: 150px;
    font-family: 'Aboreto', cursive;

}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 0px; 
    width: 30%;
}


.instituto {
    color: black;
    padding: 25px;
    width: 100%;
    float: left;
    font-size: 32px;
    text-align: center;
}

.redes-sociais ul li{
    margin-left: 30px;
    display: inline-block;
}

.header-2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li:hover {
    border-bottom: 2px solid black;
}

.menu ul li a:hover {
    color: black;
}

.menu ul li {
    display: inline-block;
    color: #64646429;
    margin-left: 30px;
    height: 45px;
}

.menu ul li a{
    color: #646464;
    text-decoration: none;
    font-size: 18px;
}

.menu {
    width: 80%;
    float: left;

}

.busca {
    width: 20%;
    float: right;
    text-align: end;
} 

.busca input {
    background-image: url();
    background-repeat: no-repeat;
    background-position: 96%;
    height: 10px;
    padding: 10px;
    width: 190px;
    margin-top: 5px;
    border: 2px solid #d6d6d6;
}

.perfil {
    margin-left: 20em;
    margin-right: 20em;
    font-family: 'Open Sans', sans-serif;
}

.redes-sociais {
    text-align: center;
    padding-right: 4em;
    border-top: 3px solid #efefef;
    width: 100%;
    margin-left: 15px;
    display: inline-block;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.slick-dots li {
    font-size: 0px;
    border: 3px solid white;
    
}

.slider-principal {
    border-bottom: 3px solid #efefef;
    width: 100%!important;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url(../imagens/setaorigi.png);
    background-size: 40px;
    top: 15%;
    left: 5px;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 20;
    position: absolute;
    background-color: transparent;
    background-image: url(../imagens/setaorigid.png);
    background-size: 40px;
    top: 15%;
    right: 5px;
}

.slick-list {
    width: 100%!important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 2px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 22%;
    top: 360px;  
}

ul.slick-dots li {
    padding-left: 10px;
    display: inline-block;
    border: none;
}

li.slick-active button {
    background-color: #E7BBF2;
}


